
/* Set background color and font family */
body {
  background-color: #1d2d3a;
  font-family: Arial, Helvetica, sans-serif;
}

/* Set styles for header */
header {
  background-color: black;
  color: #7fa2d0;
  padding: 30px;
  display: flex;
  align-items: center;
  justify-content: space-between ;
}

/* Set styles for logo */
.logo {
  font-size: 40px;
  font-weight: bold;
  text-transform: uppercase;
}

/* Set styles for navigation menu */
nav {
  display: flex;
}

nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex; 
}

nav li {
  margin: 10px;
}

nav a {
  color: #fff;
  text-decoration: none;
  align-items: center;
}

/* Set styles for main content area */
main {
  max-width: 1000px;
  margin: 0 auto;
  padding: 20px;
}

h1 {
  color: rgb(216, 216, 216);
  font-size: 30px;
  margin-bottom: 20px;
  text-align: center;
}

p {
  color: rgb(141, 172, 192);
  font-size: 18px;
  line-height: 1.5;
  margin-bottom: 20px;
  
}

/* Set styles for movie listings */
.movie-listings {
  
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 20px;
}

.movie {
  
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  overflow: hidden;
}

.movie img {
  width: 300px;
  height: 450px;
  object-fit: cover;
}

.movie h2 {
  color: white;
  font-size: 24px;
  margin: 10px;
}

.movie p {
  margin: 10px;
  font-size: 18px;
  color: #d7b1b1;
}

.movie button {
  background-color: #666565;
  color: #fff;
  border: none;
  padding: 10px;
  cursor: pointer;
  width: 100%;
  font-size: 18px;
}

.movie button:hover {
  background-color: #000000;
}